<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
<section class="ftco-section ftco-no-pb mt-5" id="resume-section">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-md-10 heading-section text-center ftco-animate">
        <h1 class="big big-2">About</h1>
        <h2 class="mb-4">About</h2>
        <p> Hi, My name is Ohm Patel and I am a talented and experienced web developer. I have a passion for designing, building and maintaining websites that not only look great, but also provide a seamless user experience. With my deep understanding of programming languages like HTML, CSS, JavaScript, PHP and React JS. I bring a wealth of technical expertise to the table. I am constantly seeking new challenges and opportunities to grow and enhance my skills. Whether it's collaborating with a team or working on my own, I am dedicated to delivering exceptional results and providing top-notch service to my clients.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="resume-wrap ftco-animate">
          <span class="date">2019-2022</span>
          <h2>Bachelor in Computer Applications</h2>
          <span class="position">Veer Narmad South Gujarat University</span>
          <p class="mt-4">I have compeleted my graduation in Computer Applictions from VNSGU and I scored 89.1% in my graduation and secured 4th position in the college.</p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="resume-wrap ftco-animate">
          <span class="date">Currently</span>
          <h2>Advance Diploma in Software Engineering (Artifical Intelligence)</h2>
          <span class="position">Centennial College</span>
          <p class="mt-4">I am currently studying software engineering in artificial intelligence from centennial college.</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-5">
      <div class="col-md-6 text-center ftco-animate">
        <p><a href="assets/images/Ohm_Patel.pdf" download class="btn btn-primary py-4 px-5">Download CV</a></p>
      </div>
    </div>
  </div>
</section>
<%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>
