<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
<section class="ftco-about img ftco-section ftco-no-pb mt-5" id="about-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-7 pl-lg-5 pb-5">
        <div class="row justify-content-start pb-3">
          <div class="col-md-12 heading-section ftco-animate">
            <h1 class="big">Contact</h1>
            <h2 class="mb-4">Contact Me</h2>
            <ul class="about-info mt-4 px-md-0 px-2">
              <li class="d-flex"><span>Name:</span> <span>Ohm Patel</span></li>
              <li class="d-flex"><span>Date of birth:</span> <span>November 02, 2001</span></li>
              <li class="d-flex"><span>Address:</span> <span>225 - Markham Rd, Scarborough, Canada</span></li>
              <li class="d-flex"><span>Zip code:</span> <span>M1J 3C6</span></li>
              <li class="d-flex"><span>Email:</span> <span>ohmpatel0211@gmail.com</span></li>
              <li class="d-flex"><span>Phone: </span> <span>+1 (226) 883-2569</span></li>
            </ul>
          </div>
        </div>
        <div class=" d-flex mt-md-3">
          <div class="text">
            <p><a href="/assets/images/Ohm_Patel.pdf" download class="btn btn-primary py-3 px-3">Download CV</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>
