<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>

<section class="ftco-section ftco-hireme mt-5 img" style="background-image: url(/assets/images/index.jpg); background-repeat: no-repeat;">
  <div class="container index">
    <div class="row justify-content-center">
      <div class="col-md-7 ftco-animate text-center d-flex flex-column align-items-center">
        <h2 class="name">I'm <span>Ohm Patel</span></h2>
        <p class="text-white fs-5">A passionate <span class="text-primary">photographer</span> and a <span class="text-primary">developer</span></p>
        <div class="social-links">
          <a href="https://www.instagram.com/ohmpatel_02/" blank><i class="fa-brands fa-instagram"></i></a>
          <a href="https://www.facebook.com/ohm.patel.125"><i class="fa-brands fa-facebook"></i></a>
          <a href="https://twitter.com/Ohmpatel40Patel"><i class="fa-brands fa-twitter"></i></a>
          <a href="https://www.linkedin.com/in/ohm-patel-912859208/"><i class="fa-brands fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>

<%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>
