<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
<section class="ftco-section ftco-project mt-5" id="projects-section">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-md-12 heading-section text-center ftco-animate">
        <h1 class="big big-2">Projects</h1>
        <h2 class="mb-4">My Projects</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(/assets/images/Paino_Cafe_Logo.png); background-size: 50% 50%;">
          <div class="overlay"></div>
          <div class="text text-center p-4">
            <h3><a href="#">Paino Cafe</a></h3>
            <span>A website for a theme cafe</span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(/assets/images/The_Cupcake_Carving_Logo.png); background-size: 40% 70%;">
          <div class="overlay"></div>
          <div class="text text-center p-4">
            <h3><a href="#">The Cupcake Carving</a></h3>
            <span>A website for a bakery where user to order bakery products online</span>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(/assets/images/Proline.png); background-size: 70% 60%; ">
          <div class="overlay"></div>
          <div class="text text-center p-4">
            <h3><a href="#">ProLine</a></h3>
            <span>A RFID based student management system</span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(/assets/images/Flick.png); background-size: 45% 40%;">
          <div class="overlay"></div>
          <div class="text text-center p-4">
            <h3><a href="#">Flick</a></h3>
            <span>A online movie streaming webapp</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>
