<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
<section class="ftco-section" id="services-section">
  <div class="container">
    <div class="row justify-content-center py-5 mt-5">
      <div class="col-md-12 heading-section text-center ftco-animate">
        <h1 class="big big-2">Services</h1>
        <h2 class="mb-4">Services</h2>
        <p>I am a versatile and experienced professional offering both web development and photography services. As a web developer, I can help bring your digital vision to life by creating custom websites that are both visually appealing and functional. My expertise in HTML, CSS, and JavaScript, as well as server-side scripting languages, ensures that your website will be built to the highest standards. Additionally, as a photographer, I offer a wide range of photography services, from capturing special moments to creating visually stunning images for your website or marketing materials. Whether you need a new website or high-quality photography to showcase your brand, I am here to help.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center d-flex ftco-animate">
        <a class="services-1">
          <span class="icon">
            <i class="flaticon-analysis"></i>
          </span>
          <div class="desc">
            <h3 class="mb-5">Web Design</h3>
          </div>
        </a>
      </div>
      <div class="col-md-4 text-center d-flex ftco-animate">
        <a class="services-1">
          <span class="icon">
            <i class="flaticon-flasks"></i>
          </span>
          <div class="desc">
            <h3 class="mb-5">Phtography</h3>
          </div>
        </a>
      </div>
      <div class="col-md-4 text-center d-flex ftco-animate">
        <a class="services-1">
          <span class="icon">
            <i class="flaticon-ideas"></i>
          </span>
          <div class="desc">
            <h3 class="mb-5">Web Developer</h3>
          </div>
        </a>
      </div>

      <div class="col-md-4 text-center d-flex ftco-animate">
        <a class="services-1">
          <span class="icon">
            <i class="flaticon-analysis"></i>
          </span>
          <div class="desc">
            <h3 class="mb-5">App Developing</h3>
          </div>
        </a>
      </div>
      <div class="col-md-4 text-center d-flex ftco-animate">
        <a class="services-1">
          <span class="icon">
            <i class="flaticon-flasks"></i>
          </span>
          <div class="desc">
            <h3 class="mb-5">Branding</h3>
          </div>
        </a>
      </div>
      <div class="col-md-4 text-center d-flex ftco-animate">
        <a class="services-1">
          <span class="icon">
            <i class="flaticon-ideas"></i>
          </span>
          <div class="desc">
            <h3 class="mb-5">Product Strategy</h3>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>
